.resume {
    box-sizing: border-box;
    width: 21.59cm;
    height: 27.94cm;
    background-color: white;
    padding: 5px 40px;
    margin-top: 40px;
}

.first-last-name {
    font-size: 24px;
}
.contacts {
    margin-top:-15px;
    display: flex;
    justify-content: space-between;
}
.contact {
    font-size: 13.5px;
}

.web {
    text-decoration: underline;
}


.education-display>h2 {
    color: #626363;
    font-size: 19px;
}

.education-display>div>div {
    display: flex;
    justify-content: space-between;
    font-size: 13.5px;
    margin-top: -25px;
}

.education-display>div>p{
    font-size: 13.5px;
    margin-top:-7px;
}

.experience-display>h2 {
    font-size: 19px;
    color: #626363;
}

.experience-top {
    margin-top: -18px;
    display: flex;
    justify-content: space-between;
}
.experience-top{
    font-size: 14px;
}

.experience-bottom {
    margin-top: -18px;
    margin-bottom: 25px;
    font-size: 12px;
    line-height: 1rem;
}

.skills-display>h2{
    font-size: 19px;
    color: #626363;
}

.skills-display>div {
    font-size: 13.5px;
    line-height: 4px;
}