.resume {
    box-sizing: border-box;
    width: 210mm;
    height: 297mm;
    background-color: white;
    padding: 50px;
    margin-top: 50px;
}

.first-last-name {
    font-size: 24px;
}
.contacts {
    margin-top:-15px;
    display: flex;
    justify-content: space-between;
}
.contact {
    font-size: 13.5px;
}

.web {
    text-decoration: underline;
}


.education-display>h2 {
    color: black;
    font-size: 20px;
}

.education-display>div>div {
    display: flex;
    justify-content: space-between;
    font-size: 13.5px;
    margin-top: -25px;
}

.education-display>div>p{
    font-size: 13.5px;
    margin-top:-7px;
}

.experience-display>h2 {
    font-size: 20px;
    color: black;
}

.experience-top {
    margin-top: -18px;
    display: flex;
    justify-content: space-between;
}
.experience-top{
    font-size: 14px;
}

.experience-bottom {
    margin-top: -18px;
    margin-bottom: 25px;
    font-size: 12px;
}