fieldset {
    border-color: burlywood;
}


.projects {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.projects> * {
    margin-top: 5px;
    margin-bottom:10px;
}

button {
    background-color: burlywood;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
    border:solid;
    border-radius: 6px;
    border-color: #d29f5d;
    border-width: 2px;
}



